p{
 text-align: center; 
}

h1{
  padding: 10px;
  margin-top: 60px;
 text-align: center;
}
footer{
  text-align: center;
}

.base{
  background-image: url("/res/IMG_1393 2.GIF");
}

.text{
  background-color: #000000;
  color: #FFFFFF;
}
